@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(135, 1, 145); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(162, 2, 170); ; 
  }


.container{
    width: 100%;
    height: 100vh;
    background: rgb(2,253,245);
    background: linear-gradient(90deg, rgba(2,253,245,1) 19%, rgba(252,134,255,1) 100%);
    font-family: 'Poppins', sans-serif;

}

.header{
    font-size: 28px;
    text-align: center;
    padding: 15px 0px;
}

.message-section{
    height: 400px;
    width: 90%;
    margin: auto;
    border: 1px solid;
    border-radius: 10px;
    overflow: auto;
}

.msg-box{
    padding: 10px;
    width: 35%;
    border: 1px solid black;
    font-size: 20px;
    margin: 20px 15px;
    border-radius: 5px;
    clear: both;
    word-break: break-all;
    box-shadow: 5px 5px #8b8b8b;
}

.received{
  float: left;
  background-color: rgb(255, 252, 214);
}

.send{
  float: right;
  background-color: rgb(214, 255, 214);
}


/* input section */
.input-section{
    border: 1px solid black;
    height: 60px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    width: 90%;
    padding:10px;
    font-size: 20px;
    border: 1px solid #969696;
    border-radius: 10px;
    margin:0px 5px ;
}

.input:focus{
    border: 2px solid #757575;
    outline: none;
}

.btn{
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(98, 0, 98);
    color: white;
    margin:0px 5px ;
}

.btn:hover{
    background: rgb(69, 0, 69);
}